In [1]:
# Pedestrian Counting System
## Dependecy Modules: Pandas and NumPy
## Source data expected in as: 'data/data.csv' - relative to the working directory

In [2]:
import pandas as pd

In [3]:
#create a dataframe with data to be analysed
df = pd.read_csv('data/data.csv')

In [4]:
#Review dataframe - columns
print(df.keys())

Index(['ID', 'Date_Time', 'Year', 'Month', 'Mdate', 'Day', 'Time', 'Sensor_ID',
       'Sensor_Name', 'Hourly_Counts'],
      dtype='object')

In [5]:
#Review dataframe - data
df.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774

In [6]:
#Review dataframe - data profiling
df.describe(include='all')

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
count,4.415574e+06,4415574,4.415574e+06,4415574,4.415574e+06,4415574,4.415574e+06,4.415574e+06,4415574,4.415574e+06
unique,NaN,115465,NaN,12,NaN,7,NaN,NaN,94,NaN
top,NaN,"September 16, 2010 12:00:00 AM",NaN,July,NaN,Saturday,NaN,NaN,Bourke Street Mall (South),NaN
freq,NaN,408,NaN,397510,NaN,631815,NaN,NaN,115915,NaN
mean,2.208217e+06,NaN,2.017178e+03,NaN,1.574419e+01,NaN,1.146884e+01,2.681503e+01,NaN,4.967301e+02
std,1.275353e+06,NaN,3.535223e+00,NaN,8.798473e+00,NaN,6.938772e+00,1.937028e+01,NaN,7.530344e+02
min,1.000000e+00,NaN,2.009000e+03,NaN,1.000000e+00,NaN,0.000000e+00,1.000000e+00,NaN,0.000000e+00
25%,1.103894e+06,NaN,2.015000e+03,NaN,8.000000e+00,NaN,5.000000e+00,1.000000e+01,NaN,4.300000e+01
50%,2.207788e+06,NaN,2.018000e+03,NaN,1.600000e+01,NaN,1.100000e+01,2.300000e+01,NaN,1.780000e+02
75%,3.311681e+06,NaN,2.020000e+03,NaN,2.300000e+01,NaN,1.700000e+01,4.000000e+01,NaN,6.070000e+02
max,4.421045e+06,NaN,2.022000e+03,NaN,3.100000e+01,NaN,2.300000e+01,8.700000e+01,NaN,1.597900e+04

In [7]:
#Review dataframe - total row count
df.shape[0]

4415574

In [8]:
#Review dataframe - total column count
df.shape[1]

10

In [9]:
#Review data - check uniqueness in column values
df.nunique()

ID               4415574
Date_Time         115465
Year                  14
Month                 12
Mdate                 31
Day                    7
Time                  24
Sensor_ID             82
Sensor_Name           94
Hourly_Counts       6410
dtype: int64

In [10]:
#From above result looks like sensor id and sensor name need investigation.
#Investigation needed to understand why sensor id and sensor name count do not match up

## To make the investigation quick, creating a new col in df with val concat of Sensor_ID and Sensor_Name
## Display unique val of the new col and check what is the reason behind mismatch between those columns

In [11]:
#issue investigation - creating a new col in df with val concat of Sensor_ID and Sensor_Name
df['tmpcol'] = df["Sensor_ID"].astype(str) + df["Sensor_Name"]

In [12]:
#issue investigation - creating a new col in df with val concat of Sensor_ID and Sensor_Name
## Display unique val of the new col
df.tmpcol.unique()

array(['34Flinders St-Spark La', '39Alfred Place', '37Lygon St (East)',
       '40Lonsdale St-Spring St (West)', '36Queen St (West)',
       '29St Kilda Rd-Alexandra Gardens',
       '42Grattan St-Swanston St (West)',
       '43Monash Rd-Swanston St (West)', '44Tin Alley-Swanston St (West)',
       '35Southbank', '45Little Collins St-Swanston St (East)',
       '46Pelham St (S)', '47Melbourne Central-Elizabeth St (East)',
       '48QVM-Queen St (East)', '49QVM-Therry St (South)',
       '50Faraday St-Lygon St (West)', '51QVM-Franklin St (North)',
       '52Elizabeth St-Lonsdale St (South)', '54Lincoln-Swanston(West)',
       '55Elizabeth St-La Trobe St (East)',
       '56Lonsdale St - Elizabeth St (North)', '57Bourke St Bridge',
       '58Bourke St - Spencer St (North)',
       '59Swanston St - RMIT Building 80',
       '61Swanston St - RMIT Building 14', '62La Trobe St (North)',
       '4Town Hall (West)', '17Collins Place (South)',
       '18Collins Place (North)', '53Collins St (North)',
       '2Bourke Street Mall (South)', '1Bourke Street Mall (North)',
       '3Melbourne Central', '15State Library', '9Southern Cross Station',
       '10Victoria Point', '12New Quay', '11Waterfront City',
       '8Webb Bridge', '7Birrarung Marr', '5Princes Bridge',
       '6Flinders Street Station Underpass', '14Sandridge Bridge',
       '26QV Market-Elizabeth St (West)',
       '24Spencer St-Collins St (North)',
       '23Spencer St-Collins St (South)',
       '25Melbourne Convention Exhibition Centre',
       '21Bourke St-Russell St (West)',
       '20Chinatown-Lt Bourke St (South)',
       '19Chinatown-Swanston St (North)',
       '22Flinders St-Elizabeth St (East)', '27QV Market-Peel St',
       '28The Arts Centre', '31Lygon St (West)', '30Lonsdale St (South)',
       '41Flinders La-Swanston St (West)', '13Flagstaff Station',
       '16Australia on Collins', '66State Library - New', '32City Square',
       '33Flinders St-Spring St (West)',
       '38Flinders St-Swanston St (West)', '46Pelham St (South)',
       '54Lincoln-Swanston (West)',
       '60Flinders La - Swanston St (West) Temp',
       '60Flinders la - Swanston St (West) Temp', '63231 Bourke St',
       '64Royal Pde-Grattan St', '65Swanston St - City Square',
       '66State Library-New', '67Flinders Ln -Degraves St (South)',
       '68Flinders Ln -Degraves St (North)',
       '69Flinders Ln -Degraves St (Crossing)', '70Errol Street (East)',
       '71Westwood Place', '73Bourke St - Spencer St (South)',
       '72Flinders St-ACMI', '75Spring St- Flinders St (West)',
       '76Macaulay Rd-Bellair St',
       '77Harbour Esplanade (West) - Pedestrian Pa',
       '78Harbour Esplanade (West) - Bike Path',
       '77Harbour Esplanade (West) - Ped Path', '79Flinders St (South)',
       '64Royal Pde - Grattan St',
       '69Flinders Ln - Degraves St (Crossing)',
       '68Flinders Ln - Degraves St (North)',
       '67Flinders Ln - Degraves St (South)', '72Flinders St - ACMI',
       '75Spring St - Flinders St (West)', '76Macaulay Rd - Bellair St',
       '84Elizabeth St - Flinders St (East) - New footpath',
       '85Macaulay Rd (North)', '86Queensberry St - Errol St (South)',
       '87Errol St (West)'], dtype=object)

In [13]:
#issue investigation - reason behind mismatch between sensor id and name columns
## looks like some sensor name values are represented in different formats. DQ issue identified
## for ex.. Spring St - Flinders St (West) vs Spring St- Flinders St (West)
##          Harbour Esplanade (West) - Ped Path vs Harbour Esplanade (West) - Pedestrian Pa

# To fix the DQ issue quickly, just going to standardise the values by find and replace the specific sensor names only          
## in total for 12 sensor ids - 46, 54, 64, 60, 69, 68, 67, 66, 72, 77,76,75

In [14]:
#DQ fix - fetch the sensor ids that need to be fixed
dq_sid_46 = df['Sensor_ID'] == 46
dq_sid_54 = df['Sensor_ID'] == 54
dq_sid_64 = df['Sensor_ID'] == 64
dq_sid_60 = df['Sensor_ID'] == 60
dq_sid_69 = df['Sensor_ID'] == 69
dq_sid_68 = df['Sensor_ID'] == 68
dq_sid_67 = df['Sensor_ID'] == 67
dq_sid_66 = df['Sensor_ID'] == 66
dq_sid_72 = df['Sensor_ID'] == 72
dq_sid_77 = df['Sensor_ID'] == 77
dq_sid_76 = df['Sensor_ID'] == 76
dq_sid_75 = df['Sensor_ID'] == 75

In [15]:
#DQ fix - update sensor names for the sensor ids that need to be fixed
df.loc[dq_sid_46, 'Sensor_Name'] = 'Pelham St (South)'
df.loc[dq_sid_54, 'Sensor_Name'] = 'Lincoln-Swanston (West)'
df.loc[dq_sid_64, 'Sensor_Name'] = 'Royal Pde - Grattan St'
df.loc[dq_sid_60, 'Sensor_Name'] = 'Flinders La - Swanston St (West) Temp'
df.loc[dq_sid_69, 'Sensor_Name'] = 'Flinders Ln - Degraves St (Crossing)'
df.loc[dq_sid_68, 'Sensor_Name'] = 'Flinders Ln - Degraves St (North)'
df.loc[dq_sid_67, 'Sensor_Name'] = 'Flinders Ln - Degraves St (South)'
df.loc[dq_sid_66, 'Sensor_Name'] = 'State Library - New'
df.loc[dq_sid_72, 'Sensor_Name'] = 'Flinders St - ACMI'
df.loc[dq_sid_77, 'Sensor_Name'] = 'Harbour Esplanade (West) - Pedestrian Pa'
df.loc[dq_sid_76, 'Sensor_Name'] = 'Macaulay Rd - Bellair St'
df.loc[dq_sid_75, 'Sensor_Name'] = 'Spring St - Flinders St (West)'

In [16]:
#DQ fix - checking whether sensor id and name count matches after the fix
df.nunique()

ID               4415574
Date_Time         115465
Year                  14
Month                 12
Mdate                 31
Day                    7
Time                  24
Sensor_ID             82
Sensor_Name           82
Hourly_Counts       6410
tmpcol                94
dtype: int64

In [17]:
#DQ fix - issue fixed asp er the above result and deleting the tmp col for consistency
df= df.drop(columns=['tmpcol'])

In [18]:
#Review data - understand the grain of the data
## from above data profiling ID col which is the reading id has unique value across the dataset
## exploring the data - the grain of the data could be 
## hourly reading count for a given date time and a senor id (sensor name)....

## checking to see any duplicates rows exist for a given date time, sensor id and name

df_dup = df[df.duplicated(subset=['Date_Time','Sensor_ID','Sensor_Name'], keep=False)]

In [19]:
#Review data - understand the grain of the data
df_dup.shape[0]

12240

In [20]:
#Review data - understand the grain of the data
## duplicates rows exist for a given date time, sensor id and name

## exploring the duplicates and understand the data
df_dup.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
240666,205729,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),28
240667,205730,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,2,Bourke Street Mall (South),49
240668,205731,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,3,Melbourne Central,77
240669,205732,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,4,Town Hall (West),110
240670,205733,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,5,Princes Bridge,66

In [21]:
#Review data - understand the grain of the data
## duplicates rows exist for a given date time, sensor id and name

## exploring the duplicates and understand the data 

## narrow down the investigation for a single pattern of duplicate - from above result

df_dup_chek = df[(df['Date_Time']=='September 01, 2010 12:00:00 AM') & (df['Sensor_ID']==1) & (df['Sensor_Name']=='Bourke Street Mall (North)')]
df_dup_chek.head(100)

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
240666,205729,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),28
240683,205746,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),77
240700,205763,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),37
240717,205780,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),4
240734,205797,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),8
240751,205814,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),23
240768,205831,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),52
240785,205848,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),162
240802,205865,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),444
240819,205882,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),654
240836,205899,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),892
240853,205916,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1125
240870,205933,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1712
240887,205950,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),2184
240904,205967,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1637
240921,205984,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1469
240938,206001,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1707
240955,206018,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1640
240972,206035,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),1023
240989,206052,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),637
241006,206069,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),290
241023,206086,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),176
241040,206103,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),150
241057,206120,"September 01, 2010 12:00:00 AM",2010,September,1,Wednesday,0,1,Bourke Street Mall (North),80

In [22]:
#Review data - understand the grain of the data
## duplicates rows exist for a given date time, sensor id and name

## from above result, getting multiple hourly counts for a give date time and sensor id

## not enough information to handle these duplicates. So going to keep these rows and proceeding the analysis

In [23]:
# Doing some quick profiling on other columns in the data set below
df['ID'].agg(['min', 'max'])

min          1
max    4421045
Name: ID, dtype: int64

In [24]:
df['ID'].duplicated().any()

False

In [25]:
df['Date_Time'].agg(['min', 'max'])

min        April 01, 2010 01:00:00 AM
max    September 30, 2021 12:00:00 PM
Name: Date_Time, dtype: object

In [26]:
df['Hourly_Counts'].agg(['min', 'max'])

min        0
max    15979
Name: Hourly_Counts, dtype: int64

In [27]:
df.Year.unique()

array([2019, 2022, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2020, 2021], dtype=int64)

In [28]:
df.Mdate.unique()

array([ 1,  5, 29,  2,  3,  4, 30,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31],
      dtype=int64)

In [29]:
df.Month.unique()

array(['November', 'April', 'September', 'October', 'May', 'July',
       'December', 'August', 'June', 'January', 'February', 'March'],
      dtype=object)

In [30]:
df.Day.unique()

array(['Friday', 'Tuesday', 'Sunday', 'Saturday', 'Monday', 'Wednesday',
       'Thursday'], dtype=object)

In [31]:
df.Time.unique()

array([17, 18, 19, 15, 20, 10, 21, 22, 23,  0,  1, 14,  2,  3,  4,  5,  6,
        7,  8,  9, 11, 12, 13, 16], dtype=int64)

In [32]:
## Data profiling ends

In [ ]:
# Unit Testing code to validate the expected outputs

In [33]:
#function to return top ten pedestrian loc by day
def top_pedestrain_loc_by_group(dataframe,colName):
    #group by and get sum of pedestrians
    df_agg = dataframe.groupby([colName,'Sensor_Name']).agg({'Hourly_Counts':sum})
    #preparing aggregated df to get top N values    
    g = df_agg['Hourly_Counts'].groupby(colName, group_keys=False)
    #get top 10 values by pedestrian count
    res =  g.nlargest(10)
    
    return res

In [34]:
#Top 10 (most pedestrians) locations by day
print(top_pedestrain_loc_by_group(df,'Day'))

Day        Sensor_Name
Friday     Town Hall (West)                     24393876
           Flinders Street Station Underpass    21320727
           Melbourne Central                    19993700
           Bourke Street Mall (South)           18881248
           Princes Bridge                       18484231
                                                  ...
Wednesday  Bourke Street Mall (North)           15112531
           Spencer St-Collins St (North)        13004087
           Flinders St-Elizabeth St (East)      12031778
           State Library                        11000867
           Flagstaff Station                    10553562
Name: Hourly_Counts, Length: 70, dtype: int64

In [35]:
#Top 10 (most pedestrians) locations by month
print(top_pedestrain_loc_by_group(df,'Month'))

Month      Sensor_Name
April      Town Hall (West)                     12463968
           Melbourne Central                    10862976
           Princes Bridge                       10660422
           Flinders Street Station Underpass    10135936
           Bourke Street Mall (North)            9194871
                                                  ...
September  Princes Bridge                        7823066
           Flinders St-Elizabeth St (East)       6435942
           State Library                         6321620
           Spencer St-Collins St (North)         6126071
           The Arts Centre                       4742644
Name: Hourly_Counts, Length: 120, dtype: int64

In [36]:
#review year range in the data
years = df.Year.unique()
years.sort()
print(years)

[2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]

In [37]:
#function to return top ten pedestrian loc by day
def loc_pedestrian_count_year(dataframe, year):
    #filter by last 2 years
    dataframe = dataframe[dataframe.Year == year]
   # dataframe = dataframe[dataframe.Sensor_Name == '231 Bourke St']
    #group by and get sum of pedestrians
    df_agg = dataframe.groupby(['Sensor_Name']).agg({'Hourly_Counts':sum})
    return df_agg

In [38]:
pd_count_2020 = loc_pedestrian_count_year(df,2020)
pd_count_2020 = pd_count_2020.reset_index()
#pd_count_2020 = pd_count_2020.sort_index(axis=1)

sensor_name_2020 = pd_count_2020['Sensor_Name'].tolist()

In [39]:
pd_count_2021 = loc_pedestrian_count_year(df,2021)
pd_count_2021 = pd_count_2021.reset_index()
#pd_count_2021 = pd_count_2021.sort_index(axis=1)

sensor_name_2021 = pd_count_2021['Sensor_Name'].tolist()

In [40]:
sensor_names_common = list(set(sensor_name_2020).intersection(sensor_name_2021))

In [41]:
pd_count_2020 = pd_count_2020.loc[pd_count_2020['Sensor_Name'].isin(sensor_names_common)]

In [42]:
pd_count_2021 = pd_count_2021.loc[pd_count_2021['Sensor_Name'].isin(sensor_names_common)]

In [43]:
pd_count_2020.reset_index(drop=True, inplace=True)
pd_count_2021.reset_index(drop=True, inplace=True)

In [44]:
print(pd_count_2020)

                       Sensor_Name  Hourly_Counts
0                    231 Bourke St        1342643
1                     Alfred Place         659680
2                   Birrarung Marr        1502283
3   Bourke St - Spencer St (North)        2474396
4   Bourke St - Spencer St (South)          58787
..                             ...            ...
61                Town Hall (West)        5260684
62                  Victoria Point         528236
63                 Waterfront City         389700
64                     Webb Bridge        1107272
65                  Westwood Place          41643

[66 rows x 2 columns]

In [45]:
print(pd_count_2021)

                       Sensor_Name  Hourly_Counts
0                    231 Bourke St        2099566
1                     Alfred Place         461953
2                   Birrarung Marr        1272681
3   Bourke St - Spencer St (North)        2316080
4   Bourke St - Spencer St (South)         130735
..                             ...            ...
61                Town Hall (West)        6155040
62                  Victoria Point         309276
63                 Waterfront City         374339
64                     Webb Bridge        1149161
65                  Westwood Place         261172

[66 rows x 2 columns]

In [46]:
import numpy as np

In [47]:
pd_count_2021['diff'] = np.where(pd_count_2021['Hourly_Counts'] == pd_count_2020['Hourly_Counts'], 0, pd_count_2021['Hourly_Counts'] - pd_count_2020['Hourly_Counts'])

In [48]:
print(pd_count_2021)

                       Sensor_Name  Hourly_Counts    diff
0                    231 Bourke St        2099566  756923
1                     Alfred Place         461953 -197727
2                   Birrarung Marr        1272681 -229602
3   Bourke St - Spencer St (North)        2316080 -158316
4   Bourke St - Spencer St (South)         130735   71948
..                             ...            ...     ...
61                Town Hall (West)        6155040  894356
62                  Victoria Point         309276 -218960
63                 Waterfront City         374339  -15361
64                     Webb Bridge        1149161   41889
65                  Westwood Place         261172  219529

[66 rows x 3 columns]

In [49]:
pd_count_2021.sort_values(by='diff').head()

                             Sensor_Name  Hourly_Counts     diff
22       Flinders St-Elizabeth St (East)        5852590 -1507594
34                     Melbourne Central        3327672  -814767
51         Spencer St-Collins St (North)        3163176  -785310
50                Southern Cross Station        1142488  -623496
28  Little Collins St-Swanston St (East)        2396703  -515796

In [50]:
pd_count_2021.sort_values(by='diff', ascending=False).head()

                          Sensor_Name  Hourly_Counts     diff
55                State Library - New        3994935  2188455
18     Flinders La-Swanston St (West)        8187673  1489762
21  Flinders Ln - Degraves St (South)        1928889  1486555
58     Swanston St - RMIT Building 80        2011218  1339490
56          Swanston St - City Square        2195660  1206102

In [51]:
pd_count_2021.to_csv('pdcount2021.csv', encoding='utf-8', index=False)

In [53]:
pd_count_2020.to_csv('pdcount2020.csv', encoding='utf-8', index=False)

In [57]:
#df_agg_day = df.groupby(['Day','Sensor_Name']).agg({'Hourly_Counts':sum})
df_agg_day = df.groupby(['Day', 'Sensor_Name'])['Hourly_Counts'].sum().astype(int).reset_index()
df_agg_day.to_csv('df_agg_day.csv', encoding='utf-8', index=False)

In [58]:
df_agg_month = df.groupby(['Month', 'Sensor_Name'])['Hourly_Counts'].sum().astype(int).reset_index()
df_agg_month.to_csv('df_agg_month.csv', encoding='utf-8', index=False)